*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul li ol {
    list-style: none;
}
.row{
    width: 100%;
    padding: 20px 20px 0 20px;
}
.column{
    padding: 15px;
    border: 1px solid red;
    margin-bottom:15px;
}

.shuju{
    border: 1px solid red;
    height: 200px;

}
.map{
    border: 1px solid red;
    height: 1024px;
}