body {
    background-image: url(../images/bg.png);
    background-color:#106d50;
    background-position: center;
    background-size: cover;
}
.warp {
    margin: 0 auto;
}
.control{
    z-index: 99;
    padding: 5px 20px;
    color: #fff;
    background: rgb(18, 138, 18);
    border: 1px solid rgb(18, 138, 18);
    border-radius: 4px;
    cursor: pointer;
}
.control:hover{
    background: rgb(19, 158, 19);
    border: 1px solid rgb(19, 158, 19);
}
#fullScreen{
    position: absolute;
    top: 30px;
    right: 20px;
}
#refresh{
}
.search .input-box input{
    background-color:rgba(255,255,255,0.6);
    border-color: rgba(255,255,255,0.6);
}
/* 头部 */
.title {
    width:100%;
    height:90px;
    margin-left:auto;
    margin-top:20px;

    text-align: center;
    line-height: 90px;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 48px;
    font-family: 'Microsoft YaHei';
    color: #fff;
    text-shadow: #000 1px 1px 3px;
}
.title .title-logo img{
    display: inline-block;
    width:80px;
    margin:15px;
    margin-top:5px;
}
.search {
    width: 510px;
    margin: 20px auto 5px;
    padding-left: 40px;
}
.search .input-box {
    width: 325px;
}
.search .layui-btn{
}
#hotwords{
    width: 450px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    font-size: 18px;
}
#hotwords a{
    float: left;
    margin-right: 35px;
    cursor: pointer;
    color:rgba(255, 255, 255, 0.7);
}
#hotwords a:hover{
    text-decoration: underline;
}
.header-search {
    width: 100%;
    display: none;
    box-sizing: border-box;
    position: absolute;
    border: 1px solid #E5E5E5;
    border-top: none;
    background: #fff;
    z-index: 999;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #999;
    font-size: 12px;
    text-align: left;
    /* padding:10px; */
}
.header-search .header-search-hotword {
    width: 100%;
    padding-top: 8px;
    font-size: 16px;
    overflow: hidden;
    box-sizing: border-box;
    text-align: left;
    color: #999;
    margin-bottom: 3px;
    display: inline-block;
}
.header-search a {
    display: inline-block;
    width:100%;
    color: #666;
    height: 28px;
    line-height: 28px;
    padding-left: 12px;
    cursor: pointer;
    /* background: rgba(102,102,102,0.6); */
}
.header-search a:hover{
    color:#fff;
    background: rgba(175,175,175,0.7);
}

/*中央地图*/
.map-box{
    width:960px;
    height:700px;
    margin:0 auto;
    position: relative;
}
#map{
    width:100%;
    height:100%;
}
#left-mes{
    position: absolute;
    left:0;
    bottom:100px;
}
#left-mes p{
    font-size: 36px;
    color:#fff;
    font-weight: bold;
}
#left-mes span{
    color:yellow;
    font-size: 70px;
}
.tooltipbox{
    width:450px;
    white-space: normal !important;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}
.tip{
    display: block;
    clear: both;
}
.tip-text{
    width:90px;
    float:left;
}
.tip-value{
    width:350px;
    float: right;
}
